// consultation
.consult {
  padding-bottom: 136px;
  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
  &-card {
    font-family: "Poppins", sans-serif;

    padding: 28px 28px;
    border-radius: 12px;
    min-height: 90px;
    @media (max-width: 768px) {
      padding: 15px 15px;
    }
    &-icon {
      margin-right: 10px;
      min-width: 39px;
    }
    &-title {
      font-weight: 600;
      font-size: 25px;
      line-height: 37px;
      color: #000000;
      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
    &-text {
      font-size: 17px;
      line-height: 158.7%;
      letter-spacing: 0.12px;
      color: #363049;
      opacity: 0.7;
      
      @media (max-width: 768px) {
        font-size: 14px;
      }
      &:last-child {
        word-break: break-all;
      }
    }
  }
  // changing gap between cards
  .uk-grid {
    @media (max-width: 1440px) {
      margin-left: -15px;
    }
    &>*{
      @media (max-width: 1440px) {
        padding-left: 15px;
      }
    }
  }
  *+.uk-grid-margin {
    @media (max-width:1440px) {
      margin-top: 15px;
    }
  }
}