.footer {
  .footer__content-top {
    height: auto;
    .footer__accordion:last-child {
      justify-content: flex-end;

      @media (max-width: 1024px) {
        justify-content: flex-start;
      }
    }
  }

  .footer__accordion {
    height: fit-content;
  }

  .footer__content-top {
    padding-left: 0;
    padding-right: 0;
  }

  .like__button {
    cursor: auto;
    i {
      color: #fff;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__content {
    background: #fe5e7a;
    width: 100%;
  }

  &__content-top {
    margin-left: 0 !important;
    height: 400px;
    padding: 73px 50px 0 50px;
    flex-wrap: nowrap;

    @media (max-width: 1200px) {
      display: flex;
      justify-content: center;
      // align-items: center;
    }

    @media (max-width: 1024px) {
      height: auto;
    }

    @media (max-width: 514px) {
      flex-direction: column;
    }

    & > .left-side {
      display: flex;
      flex-direction: column;
      // justify-content: flex-start;
      // align-items: flex-start;
      padding-left: 0;
      z-index: 1;

      @media (max-width: 1200px) {
        width: auto;
      }

      @media (max-width: 514px) {
        align-items: center;
      }

      & img {
        height: auto;
        width: 126px;
      }

      & picture {
        width: auto;
        height: auto;
        
        @media (max-width: 514px) {
          margin: 0 auto;
        }
      }

      & > p {
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #ffffff;
        max-width: 240px;

        @media (max-width: 514px) {
          text-align: center;
        }
      }

      & > .social-links {
        display: flex;

        i {
          color: #fff;
          font-size: 24px;
        }

        & > .social-link {
          transition: transform 0.5s linear;

          &:hover {
            transform: translateY(-5px);
          }

          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
    }

    & > .right-side {
      display: flex;

      @media (max-width: 1200px) {
        width: auto;
      }

      @media (max-width: 1024px) {
        flex-direction: column;
      }

      @media (max-width: 514px) {
        padding-left: 0;
      }

      & > .footer__accordion {
        margin-top: 0;

        ul {
          padding: 0;
          margin: 0;
          list-style: none;
        }

        &:not(:last-child) {

          @media (max-width: 1600px) {
          }

          @media (max-width: 1024px) {
            margin-right: 0;
          }
        }

        & a {
          font-family: "Open Sans", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 25px;
          color: #ffffff;
          margin-bottom: 24px;

          @media (max-width: 1200px) {
            margin-bottom: 0;
          }
        }

        & .uk-accordion-title {
          padding: 0;
          font-weight: bold;
          color: #fff;
          margin-bottom: 31px;
          font-size: 18px;
          position: relative;
          cursor: initial;

          @media (max-width: 1024px) {
            min-width: 150px;
            margin-bottom: 10px;
            cursor: pointer;
          }

          &::before {
            width: 1.5em;
            height: 1.5em;
            background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0A%3C%2Fsvg%3E);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            transform: rotate(-90deg);
            display: none;

            @media (max-width: 1024px) {
              display: block;
            }
          }
        }

        & .uk-accordion-content {
          margin-top: 0;

          @media (min-width: 1024.5px) {
            display: block !important;
          }
        }

        & .submenu__accordion {
          li {
            margin-bottom: 10px;

            @media (max-width: 1024.5px) {
              margin-bottom: 8px;
            }

            a {
              line-height: 1;

              &:hover {
                text-decoration: underline;
              }
            }

            @media (min-width: 1025px) {
              padding: 0;
            }
          }
        }
      }
    }
  }

  &__content-bottom {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #ffffff;

    position: relative;

    @media (max-width: 1024px) {
      height: 200px;
      font-size: 14px;
    }

    @media (max-width: 650px) {
      justify-content: flex-end;
      height: 173px;
      margin-bottom: 25px !important;
    }

    & img {
      height: 236px;
      width: 236px;
      position: absolute;
      top: -90px;
      left: 0;
      z-index: 0;

      @media (max-width: 1024px) {
        width: 22vw;
        height: auto;
        top: -50px;
        opacity: 0.9;
      }

      @media (max-width: 768px) {
        width: 169px;
        top: -10px;
      }
    }

    & > .like__button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      border-radius: 50%;
      height: 56px;
      width: 56px;
      box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
      margin-bottom: 24px;
      z-index: 1;

      @media (max-width: 1024px) {
        width: 57.6px;
        height: 57.6px;
        margin-bottom: 12px;
      }

      @media (max-width: 650px) {
        display: none;
      }
    }
  }
}

.footer__content-bottom {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  margin-bottom: 40px !important;
  align-items: flex-end;
}

.footer__content-copy {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.footer {
  .right-side {
    margin-top: 20px;
  }

  .footer__accordion {
    display: flex;
    justify-content: center;
    width: 32%;
    margin-right: 0;
  }

  .footer__content-bottom {
    flex-wrap: wrap;

    .footer__left,
    .footer__right {
      img {
        position: static;
        width: auto;
        height: auto;
      }
    }

    .footer__left {
      text-align: left;

      img {
        width: 90px;
        height: 90px;
        object-fit: cover;
      }
    }

    .footer__right {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  /*   .footer__left,
  .footer__right {
    width: 49%;
  } */

  .footer__content-copy {
    width: 100%;
  }
}

.logo__panda {
  .btn {
    position: relative;
    display: inline-block;
    width: 120px;
    height: auto;
    cursor: pointer;
    background: transparent;
    outline: none;
    transition: 1s ease-in-out;
    border-radius: 5px;
    padding: 0;
    padding-bottom: 5px;

    &:hover {
      box-shadow: none;
    }
  }
}

@media (max-width: 1024px) {
  .footer__content-top {
    justify-content: space-between;
  }

  .footer__content-bottom {
    padding: 20px 0;
    margin-bottom: 20px;
    height: auto;
  }

  .footer__content-top > .right-side {
    width: 31%;
  }
}

@media (max-width: 1200px) {
  .footer__content-top {
    justify-content: space-between;
  }

  .footer {
    .footer__accordion {
      display: flex;
      justify-content: center;
      width: 100%;
      justify-content: left;
    }
  }
}

@media (max-width: 650px) {
  .footer__content-bottom {
    height: auto;
  }
}

@media (max-width: 480px) {
  .footer {
    .footer__content-bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "l r"
      "c c";

      .footer__left {
        grid-area: l;
      }

      .footer__right {
        grid-area: r;
      }

      div:nth-child(2) {
        grid-area: c;
        margin-top: 20px;
      }

      .footer__right,
      .footer__left {
        width: 100%;
        justify-content: center;
        text-align: center;
      }
    }
  }
}

@media (max-width: 780px) {
  .footer__content-top > .right-side {
    width: 50%;
  }

  .footer__content-top {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__content-top > .right-side {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 425px) {
  .uk-accordion-title::before {
    content: "";
}
}

@media (max-width: 400px) {
  .footer__content-top > .right-side {
    width: 100%;
  }
}
